version: '3.6'
services:
  gitlab:

    image: 'gitlab/gitlab-ce:18.3.2-ce.0'
    container_name: gitlab
    

    restart: always
    
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        
        
        gitlab_rails['time_zone'] = 'Europe/Warsaw'
        external_url 'http://host.docker.internal:4321'
        
        # Konfiguracja Nginx (port i wyłączenie HTTPS)
        letsencrypt['enable'] = false
        nginx['listen_port'] = 4321
        nginx['listen_ssl_port'] = 443
        nginx['redirect_http_to_https'] = false
        nginx['gzip_enabled'] = false # Zgodnie z plikiem źródłowym
        
        
        gitlab_kas['enable'] = false
        
        mattermost['enable'] = false
        prometheus['enable'] = false
        alertmanager['enable'] = false
        prometheus['monitoring'] = false
        node_exporter['enable'] = false
        redis_exporter['enable'] = false
        gitlab_exporter['enable'] = false
        monitoring_role['enable'] = false # Zgodnie z plikiem źródłowym
        
        # Ustawienia sidekiq
        sidekiq['max_processes'] = 0 
        sidekiq['concurrency'] = 10
        
        # Inne wyłączenia
        gitlab_rails['usage_ping_enabled'] = false # Zgodnie z plikiem źródłowym
        logrotate['enable'] = false
        gitlab_rails['gitlab_kas_enabled'] = false

    
        redis_sentinel_role['enable'] = false
        sentinel['enable'] = false
        gitlab_rails['registry_enabled'] = false
        sidekiq['health_checks_enabled'] = false
        gitlab_rails['sentry_enabled'] = false
        gitlab_rails['packages_enabled'] = false
        gitlab_rails['dependency_proxy_enabled'] = false
        gitlab_rails['geo_registry_replication_enabled'] = false
        gitlab_rails['git_email_enabled'] = false
        gitlab_rails['incoming_email_enabled'] = false
        gitlab_rails['artifacts_enabled'] = false
        gitlab_rails['lfs_enabled'] = false
        gitlab_rails['terraform_state_enabled'] = false
        gitlab_rails['ci_secure_files_enabled'] = false
    

    ports:
      - '4321:4321'
    extra_hosts:
      - 'host.docker.internal:host-gateway'


    volumes:

      - "./config:/etc/gitlab:z"
      - "./logs:/var/log/gitlab:z"
      - "./data:/var/opt/gitlab:z"